<h2 id="goal">Goal</h2>
<p>This is a fun project to build an interactive drone. * that has computer vision features * that has distance sensors * that has audio in and output First flight:</p>
<p><a href="http://www.youtube.com/watch?v=rimVxTH05QE"><img src="http://img.youtube.com/vi/rimVxTH05QE/0.jpg" alt="A flight through our office" /></a></p>
<p>The drone should be able to ...</p>
<ul>
<li>navigate inside a room and detect obstacles</li>
<li>find persons and detect faces</li>
<li>interact with persons</li>
<li>talk to the person</li>
<li>take a picture of the person</li>
<li>interact with social media (e.g.)</li>
</ul>
<h2 id="project-team-communication-and-dev-environment">Project Team, communication and Dev Environment</h2>
<p>We work at [codecentric] (https://www.codecentric.de/) in Karlsruhe and Hamburg, Germany. codecentric encourages every employee to start innovative projects and we have one day per week to work on them ... We are hiring ;) * Tobias Schaber <span class="citation">[@tobiasschaber]</span>(https://twitter.com/tobiasschaber) * Raphael Manke * Michael Plümacher * Andrey Skorikov * Oli Moser <span class="citation">[@moseroli]</span>(https://twitter.com/moseroli)</p>
<h2 id="communication">Communication</h2>
<ul>
<li><a href="https://codecentric.slack.com/messages/cv-drone/">Slack channel</a></li>
<li><a href="https://trello.com/b/EyBRidZB/cv-drone">ToDos</a></li>
<li><a href="https://sketchboard.me/rzUofJAoRqtE">Sketching diagrams and mindmapping</a></li>
<li><a href="https://www.youtube.com/channel/UC_r-M-0JQZUnOG2gJSL9pfg">Videos on youtube channel</a></li>
</ul>